.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      /*padding-top: 70px;./img/background.jpg https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg*/
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg");
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }
  #logo {
    width: 176px;
    height: 90px;
    bottom: 40px;
    position: relative;
  }